<!-- Navigation -->
<div class="row">
  <div class="twelve columns">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="{{ site.url }}">
            <img src="{{ site.image }}" />
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>


      <section>
        <!-- Left Nav Section -->
        <ul class="left">


          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include pages_list %}
<!--
          <li class="has-dropdown">
            <a class="active" href="/products-and-services.html">Products & Services</a>
            <ul class="dropdown">
              <li><a href="/products-and-services/debit-credit-card.html">Debit / Credit Card</a></li>
              <li><a href="/products-and-services/check-acceptance.html">Check Acceptance</a></li>
              <li><a href="/products-and-services/payroll-debit-cards.html">Payroll Debit Cards</a></li>
              <li><a href="/products-and-services/gift-and-loyalty-cards.html">Gift & Loyalty Cards</a></li>
              <li><a href="/products-and-services/merchant-cash-advance.html">Merchant Cash Advance</a></li>
              <li><a href="/products-and-services/terminals-point-of-sale.html">Terminals / Point of Sale</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a class="active" href="/business-solutions.html">Business Solutions</a>
            <ul class="dropdown">
              <li><a href="/business-solutions/non-profit.html">Non-Profit</a></li>
              <li><a href="/business-solutions/family-focused-activities.html">Family Focused Activities</a></li>
              <li><a href="/business-solutions/youth-sports.html">Youth Sports - General</a></li>
              <li><a href="/business-solutions/select-club-sports.html">Select / Club Sports</a></li>
              <li><a href="/business-solutions/parks-and-recreation.html">Parks & Recreation</a></li>
              <li><a href="/business-solutions/intramural-sports.html">Intramural Sports</a></li>
              <li><a href="/business-solutions/pto-pta.html">PTO / PTA</a></li>
              <li><a href="/business-solutions/daycare-playcare.html">Daycare / Playcare</a></li>
              <li><a href="/business-solutions/after-school-programs.html">After School Programs</a></li>
              <li><a href="/business-solutions/private-instruction.html">Private Instruction</a></li>
              <li><a href="/business-solutions/donation-acceptance.html">Donation Acceptance</a></li>
            </ul>
          </li>
          <li><a class="active" href="/about_us.html">About Us</a></li>
          <li><a class="active" href="#">Contact</a></li>
          <li><a class="active" href="/get-started.html">Get Started</a></li>
        -->
        </ul>
      </section>
    </nav>
  </div>
</div>